

body {
    
    background-size:cover ;
    background-position: center;
    font-size: medium;
    font-style: italic;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e)
     
  }
  
  html {
    
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h1 {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}
  
  form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:800px;
    padding: 25px;
    opacity: 0.75;
    background: #D9D9D9;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.50);
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: column;
    margin: 0 auto;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
  }
 

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  position: relative;
}


input[type="radio"]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: auto; 
  border-radius: 75%;
  border: 0.5px solid #000000;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


input[type="radio"]:checked:before {
  background-color: rgb(0, 0, 0);
}

  label {
    font-size: 25px;
  }
 
  label[for="rate"] {
    display: flex;
    width: 148.601px;
    height: 32px;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 400px;
  }

  .label-container {
    display: flex;
    justify-content: space-between;
    
  }
  input[type="radio"] {
    margin-right: 50px;
  }

  input[type="radio"] + input[type="radio"] {
    margin-left: 30px; 
  }

  textarea{
    width: 100%;
    max-width: 400px;
    height: 70px;
    resize: vertical;
    margin-right: 25px;
  }
  
  label {
    font-size: 25px;
    position: relative; /* Ensure that the label container is a positioned element */
    padding-right: 30px; /* Add padding to the right to make space for the radio button */
}

.label-container {
    display: flex;
    justify-content: space-between; /* Align the label text to the right */
    margin-bottom: 10px; /* Add margin between label containers */
}