body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: medium;
    font-style: italic;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e)

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(221, 219, 219, 0.575);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.877);
}

h2 {
    text-align: center;
    color: #333;
}

.chart-container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.suggestion {
    background-color: rgba(221, 219, 219, 0.575);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

button {
    width: 180px;
    height: 45px;
    color: #fff;
    border-radius: 10px 20px 30px 40px;
    background: rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    border: none;
    cursor: pointer;
}